body{
    background: lightskyblue;
}
h1{
    color: coral;
    text-align: center;
}
.button{
    font-size: 29px;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightseagreen;
    color: whitesmoke;
    margin-top: 9px;
    border-radius: 20px;
    text-decoration: none;
}
p{
    color: blueviolet;
    text-align: justify;
}
h2{
    color: rgb(18, 124, 128);
    text-align: center;
}